body { 
  font-family: Arial, sans-serif;
}

.container {
  max-width: 60%;
  margin: 2em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.buscador {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
}

.card-img-top {
  height: 10em !important;
  width: 100% !important;
  object-fit: contain !important; /* MUY importante */
  object-position: center !important;
  margin-top: .5em;
}

.card-body {
  text-align: left;
}